force-app/main/default/flows/SCREEN_GOV_UK_Feedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Set_defaults_on_new_case</name>
        <label>Set defaults on new case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newCase.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Feedback_Start_Summary_Input.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Feedback_Start_Details_Input.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Case</targetReference>
        </connector>
    </assignments>
    <interviewLabel>SCREEN - GOV.UK Feedback {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SCREEN - GOV.UK Feedback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_Case</name>
        <label>Save Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Back</targetReference>
        </connector>
        <inputReference>newCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Back</name>
        <label>Get Case Back</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Feedback_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Feedback_Confirmation</name>
        <label>Feedback Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Feedback_Confirmation_errors</name>
            <extensionName>c:govErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Feedback_Confirmation_history</name>
            <extensionName>c:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>ServiceFeedback</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Thank you for your feedback</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Feedback_Confirmation_Panel</name>
            <extensionName>c:govPanel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bodyText</name>
                <value>
                    <stringValue>Thanks for your feedback</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Feedback received </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Feedback_Confirmation_debug</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Debug&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Case Id = {!newCase.Id}&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Case Number = {!Get_Case_Back.CaseNumber}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Feedback_Start</name>
        <label>Feedback Start</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_defaults_on_new_case</targetReference>
        </connector>
        <fields>
            <name>Feedback_Start_errors</name>
            <extensionName>c:govErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Feedback_Start_history</name>
            <extensionName>c:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>ServiceFeedback</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Provide feedback on this service</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Feedback_Start_markup</name>
            <extensionName>c:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&apos;govuk-heading-l&apos;&gt;Provide feedback on this service&lt;/h2&gt;
&lt;p class=&apos;govuk-body&apos;&gt;Please use this short form to provide any feedback on this service. ( Note this is also to demonstrate that a guest flow form can create a case)&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Feedback_Start_Summary_Input</name>
            <extensionName>c:govTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>Feedback_Start_Summary_Input</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Provide a summary of the feedback</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>widthLengthWise</name>
                <value>
                    <stringValue>60</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Summary of feedback</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Feedback_Start_Details_Input</name>
            <extensionName>c:govTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>Feedback_Start_Details_Input</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Details of feedback</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Please provide details for your feedback.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Feedback_Start_Nav</name>
            <extensionName>c:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>continue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Continue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Feedback_Start</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
